*.o
*.so
*.la
*.lo
Makefile
Makefile.in
configure
stamp-h1
DefenderConfigure.h.in
DefenderConfigure.h.in~
DefenderConfigure.h
*.spec
aclocal.m4
m4/*.m4
autom4te.cache/*
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
Doxyfile
config.log
config.status
.deps
.libs
libtool
src/defenderd
test/unit-test-*
defenderd.xml.cfg
.empty-file-namsdefender-*
.dirstamp
*.pyc
__pycache__
defender.conf
etc/rc.d/init.d/defenderd
namsdefender-*.tar.gz
tmpfiles.d/defenderd.conf

