*.o
*.so
*.la
*.lo
Makefile
Makefile.in
configure
stamp-h1
yasjp-config.h
yasjp-config.h.in
yasjp-config.h.in~
*.spec
aclocal.m4
m4/*.m4
autom4te.cache/*
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
Doxyfile
config.log
config.status
.deps
.libs
libtool
test/unit-test-*
defenderd.xml.cfg
.dirstamp

